.DarkModeIcon {
    color: #28282B;
    /* display: flex;
     */
     /* background-color: aqua; */
     /* float:right */
     border: antiquewhite;
     background-color: aqua;
     border: 3px solid #73AD21;
}